<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/dorab/AppCRM/ApirseApp/src/main/java/TestCases/TC1.java"><classes><class name="TestCases.TC1"><methods><include name="Tc1"/><include name="Tc2"/><include name="Tc3"/></methods></class></classes></test></suite>